In [15]:
#importing necessary libraries
import numpy as np
import pandas as pd
import matplotlib as plt

In [16]:
#importing dataset
df=pd.read_csv('Sample - Superstore.csv',encoding="unicode_escape")

In [17]:
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [18]:
#checking null values
df.isnull().sum()

Row ID            3
Order ID         17
Order Date        6
Ship Date         3
Ship Mode         4
Customer ID       1
Customer Name     4
Segment           5
Country           2
City              3
State             1
Postal Code       4
Region            2
Product ID        3
Category          2
Sub-Category      4
Product Name      1
Sales            16
Quantity          8
Discount          7
Profit           23
dtype: int64

In [19]:
#checking duplicate values
df.duplicated().sum()

0

In [20]:
#exploring dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9991 non-null   float64
 1   Order ID       9977 non-null   object
 2   Order Date     9988 non-null   object
 3   Ship Date      9991 non-null   object
 4   Ship Mode      9990 non-null   object
 5   Customer ID    9993 non-null   object
 6   Customer Name  9990 non-null   object
 7   Segment        9989 non-null   object
 8   Country        9992 non-null   object
 9   City           9991 non-null   object
 10  State          9993 non-null   object
 11  Postal Code    9990 non-null   float64
 12  Region         9992 non-null   object
 13  Product ID     9991 non-null   object
 14  Category       9992 non-null   object
 15  Sub-Category   9990 non-null   object
 16  Product Name   9993 non-null   object
 17  Sales          9978 non-null   float64
 18  Quantity       9986 non-null   float64
 19  Discount       9987 non-null   float64
 20  Profit         9971 non-null   float64
dtypes: float64(6), object(15)
memory usage: 1.6+ MB

In [21]:
df["Order Date"]=pd.to_datetime(df["Order Date"])
df["Ship Date"]=pd.to_datetime(df["Ship Date"])

In [22]:
#delete 'Row ID' & 'Country' column
df=df.drop(columns=['Row ID','Country'])

In [23]:
#deleting missing values in customer_id & customer_name
df=df.dropna(subset=['Customer ID','Customer Name','Order ID','Product ID'])

In [24]:
#filling values with their previous values
df['Segment']=df['Segment'].ffill()
df['City']=df['City'].ffill()
df['Ship Mode']=df['Ship Mode'].ffill()
df['Region']=df['Region'].ffill()
df['Category']=df['Category'].ffill()
df['Sub-Category']=df['Sub-Category'].ffill()
df['Product Name']=df['Product Name'].ffill()
df['Order Date']=df['Order Date'].ffill()
df['Ship Date']=df['Ship Date'].ffill()
df['Postal Code']=df['Postal Code'].ffill()

#filling values with their mean values
df['Profit']=df['Profit'].fillna(df['Profit'].mean())
df['Discount']=df['Discount'].fillna(df['Discount'].mean())
df['Sales']=df['Sales'].fillna(df['Sales'].mean())
df['Quantity']=df['Quantity'].fillna(df['Quantity'].mean())

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9972 entries, 0 to 9993
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       9972 non-null   object
 1   Order Date     9972 non-null   datetime64[ns]
 2   Ship Date      9972 non-null   datetime64[ns]
 3   Ship Mode      9972 non-null   object
 4   Customer ID    9972 non-null   object
 5   Customer Name  9972 non-null   object
 6   Segment        9972 non-null   object
 7   City           9972 non-null   object
 8   State          9972 non-null   object
 9   Postal Code    9972 non-null   float64
 10  Region         9972 non-null   object
 11  Product ID     9972 non-null   object
 12  Category       9972 non-null   object
 13  Sub-Category   9972 non-null   object
 14  Product Name   9972 non-null   object
 15  Sales          9972 non-null   float64
 16  Quantity       9972 non-null   float64
 17  Discount       9972 non-null   float64
 18  Profit         9972 non-null   float64
dtypes: datetime64[ns](2), float64(5), object(12)
memory usage: 1.5+ MB

In [26]:
#checking
df.isnull().sum()

Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

In [27]:
#finding insights
df.describe()

,Order Date,Ship Date,Postal Code,Sales,Quantity,Discount,Profit
count,9972,9972,9972.000000,9972.000000,9972.000000,9972.000000,9972.000000
mean,2016-04-30 11:29:49.169675008,2016-05-04 08:46:21.227437056,55210.886382,229.888028,3.789664,0.156050,28.806229
min,2014-01-03 00:00:00,2014-01-07 00:00:00,1040.000000,0.444000,1.000000,0.000000,-6599.978000
25%,2015-05-24 00:00:00,2015-05-27 00:00:00,23223.000000,17.307500,2.000000,0.000000,1.748325
50%,2016-06-26 00:00:00,2016-06-29 12:00:00,57103.000000,54.780000,3.000000,0.200000,8.694000
75%,2017-05-14 00:00:00,2017-05-18 00:00:00,90008.000000,210.568000,5.000000,0.200000,29.341200
max,2017-12-30 00:00:00,2018-01-05 00:00:00,99301.000000,22638.480000,14.000000,0.800000,8399.976000
std,NaN,NaN,32062.432690,623.651498,2.225191,0.206323,234.317013

In [28]:
df.to_csv("C:\\Users\\Sakib Ahmed\\Desktop\\Final_Superstore.csv")